.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

body {
  font-family: 'Lato';
  background-image: linear-gradient(rgba(169, 214, 253, 0.3), rgba(169, 214, 253, 0.3));
  background-image: url(img/travel.jpg);
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
 display: flex;
 justify-content: flex-end;
}

nav ul {
  float: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
nav ul li  a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

nav ul li a:hover {
  color: #2980b9;
}

.content {
  text-align: center;
}

.content h1 {
font-size: 70px;
color: white;
font-weight: 600;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
